{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="../static/js/Quiz.js"></script>
{% endblock %}
{% block body %}
    {{ super() }}

    <form action="{{ url_for('trivia_Quiz') }}" enctype=multipart/form-data
          method="POST">


        <div class="row p-3 mb-2 bg-success text-white d-flex justify-content-center" id="title_Div">


            <div class="col">
                <!--<button class="btn btn-dark mr-2" type="submit" name="submit_button"
                        value="Return Home">
                    Return Home
                </button>-->
            </div>
            <div class="col">
                <div class="row">
                    <h3 class="display-3">Practice Quiz</h3>
                </div>


            </div>
            <div class="col"></div>
        </div>


        <div class="row d-flex justify-content-center mb-3 mt-2" id="navigation_Div">
            <div class="col text-center">
                <button type="button" class="btn btn-secondary" onclick="previous_question()">Previous</button>
                <span id="Current Question Number"> 1 </span> / <span id="Total Questions Number"> </span>
                <button type="button" class="btn btn-success" onclick="next_question()">Next</button>
            </div>
        </div>


        <div class="row question_Div text-center">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card border-white text-white bg-success mb-3">
                    <div class="card-header display-5 text-start fw-bold" id="Question Text"></div>
                    <div class="card-header display-5 text-start" id="Question Text Spanish" style="display: none;"></div>

                    <div class="card-body">
                        <button type="button" class="btn btn-info" onclick="show_answer()">Show Answer</button>
                        <button type="button" class="btn btn-warning" onclick="show_spanish()">Traducir</button>

                        <div id="Answer Div" class="mt-3" style="display: none">
                            <h5 class="card-title display-6 text-start fw-bold" id="Answer Text"></h5>
                            <h5 class="card-title display-6 text-start fw-bold" id="Answer Text Spanish"></h5>
                        </div>

                        <!--<div id="Question Text Spanish"></div>-->
                        </h5>

                    </div>
                </div>


            </div>
            <div class="col-2">
                <div class="row" id="Cheat Sheet Table" style="display: block;">
                    <div class="col">
                        <table class="text-center table table-dark rounded-2 border border-2">
                            <tr>
                                <th>English</th>
                                <th>Espanol</th>
                            </tr>
                            <tr>
                                <td>Who</td>
                                <td>Quien</td>
                            </tr>

                            <tr>
                                <td>What</td>
                                <td>Que</td>
                            </tr>
                            <tr>
                                <td>When</td>
                                <td>Cuando</td>
                            </tr>
                            <tr>
                                <td>Where</td>
                                <td>Donde</td>
                            </tr>
                            <tr>
                                <td>Why</td>
                                <td>Por Que</td>
                            </tr>
                            <tr>
                                <td>Have you..</td>
                                <td>Tu has..</td>
                            </tr>

                            <tr>
                                <td>Have you ever..</td>
                                <td>Alguna vez..</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>


    </form>




    {% block scripts %}
        <script>

            let total_question_number = Object.keys(quiz_data).length.toString();
            let current_question_number = document.getElementById("Current Question Number");
            let total_questions_number = document.getElementById("Total Questions Number");

            let question_text_english = document.getElementById("Question Text");
            let question_text_spanish = document.getElementById("Question Text Spanish");

            let answer_div = document.getElementById("Answer Div");
            let answer_text_div = document.getElementById("Answer Text");
            let answer_text_spanish_div = document.getElementById("Answer Text Spanish");
            let cheat_sheet = document.getElementById("Cheat Sheet Table")


            window.onload = function () {
                question_text_english.innerText = Object.keys(quiz_data)[0];
                total_questions_number.innerText = total_question_number;
                answer_text_div.innerText = Object.values(quiz_data)[0].toString();
            }

            let question_number = 1;
            let index_number = 0

            function update_text() {

                let english_question = Object.keys(quiz_data)[index_number];
                let spanish_question = Object.keys(quiz_data_spanish)[index_number];

                let answer_text_english = Object.values(quiz_data)[index_number];
                let answer_text_spanish = Object.values(quiz_data_spanish)[index_number];


                current_question_number.innerText = question_number.toString();

                question_text_english.innerText = english_question;
                question_text_spanish.innerText = spanish_question;


                //answer_text_english.innerText = Object.values(quiz_data)[index_number].toString();
                answer_text_div.innerText = "";
                for (let answer of answer_text_english) {
                    console.log(answer)
                    answer_text_div.innerText += answer + "\n";
                }

                answer_text_spanish_div.innerText = "";
                for (let answer of answer_text_spanish) {
                    console.log(answer)
                    answer_text_spanish_div.innerText += answer + "\n";
                }

                question_text_spanish.style.display = "none";
                answer_div.style.display = "none";
            }

            function next_question() {
                if (question_number < 100) {

                    question_number++
                    index_number++
                    update_text()

                }
            }

            function previous_question() {

                if (index_number >= 1) {
                    question_number--
                    index_number--
                    update_text()
                }

            }

            function show_answer() {
                if (answer_div.style.display === "none") {
                    answer_div.style.display = "block";
                } else {
                    answer_div.style.display = "none";
                }
            }


            function show_spanish() {
                console.log(Object.keys(quiz_data_spanish)[index_number]);


                if (question_text_spanish.style.display === "none") {
                    question_text_spanish.style.display = "block";
                    //cheat_sheet.style.display = "block";
                } else {
                    question_text_spanish.style.display = "none";
                    //cheat_sheet.style.display = "none";
                }

                question_text_spanish.innerText = Object.keys(quiz_data_spanish)[index_number];
                question_text_spanish.style.color = "black";
            }
        </script>
    {% endblock %}

{% endblock %}





</body>
</html>